@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #dbeafe;
  --foreground: #000000;
  --bgComponent:#fffbeb;
  --bgbackground:#fffbeb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  /*background: var(--background);*/
  font-family: Arial, Helvetica, sans-serif;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
